<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Inicio </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="ion-padding">
    <ion-img src="../../../assets/Logo-inicio.png" alt="img"> </ion-img>
    <ion-button color="success" routerLink="/registro-cultivos">
      <ion-icon name="leaf-outline"></ion-icon>
      Registrar Cultivos
    </ion-button>
    <br />
    <br />
    <ion-button color="medium" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
