<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> MiniGarden </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="ion-padding">
    <form [formGroup]="registerForm" (ngSubmit)="signUpUser($event)">
      <h3 class="ion-margin-bottom ion-margin-left">Registro de Usuario</h3>

      <div class="ion-margin-bottom" style="text-align: left">
        <ion-input
          formControlName="email"
          label="Dirección de Correo"
          label-placement="floating"
          fill="outline"
          placeholder="Ingrese su correo electronico"
          type="email"
        ></ion-input>
        <ion-text *ngIf="invalidField('email')" color="danger">
          {{ getErrorMessage("email") }}
        </ion-text>
      </div>

      <div class="ion-margin-bottom" style="text-align: left">
        <ion-input
          formControlName="password"
          label="Contraseña"
          label-placement="floating"
          fill="outline"
          placeholder="Ingrese su contraseña"
          type="password"
        ></ion-input>
        <ion-label *ngIf="invalidField('password')" color="danger">
          {{ getErrorMessage("password") }}
        </ion-label>
      </div>

      <ion-button color="warning" type="submit">
        <ion-icon name="person-outline"></ion-icon>
        Registrar
      </ion-button>
    </form>
    <br />
    <br />
    <p>¿YA tienes una cuenta?</p>
    <ion-button color="medium" routerLink="/login">
      <ion-icon name="chevron-back-circle-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
